@import url('https://fonts.googleapis.com/css2?family=Basic');

html, body {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 0;
    font-family: Basic, Helvetica, sans-serif;
}

p {
    padding: 0;
    margin: 0;
}

#container {
    width: 100%;
    margin: auto;
}

#userImage {
    text-align: center;
}

#userImage img {
    width: 10vw;
    border-radius: 100%;
    border: solid 4px #760a99;
}

#userMsg p {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 4vw;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
}

#userName p {
    text-transform: uppercase;
    color: #760a99;
    font-size: 5vw;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
}

div.slide-right-in {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

div.slide-left-in {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

div.slide-left-in p {
    animation: slide-left-in 3s, slide-right-in 3s, glow;
}

div.slide-right-in p {
    animation: slide-right-in 3s, slide-left-in 3s, glow;
}

@keyframes slide-right-in {
    from {
        margin-left: -100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slide-left-in {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

div.slide-right-out {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

div.slide-left-out {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

div.slide-left-out p {
    animation: slide-left-out 2s, slide-right-out 2s;
    visibility: hidden;
}

div.slide-right-out p {
    animation: slide-right-out 2s, slide-left-out 2s;
    visibility: hidden;
}

@keyframes slide-right-out {
    from {
        margin-left: 0%;
        width: 100%;
        visibility: visible;
    }

    to {
        margin-left: -100%;
        width: 100%;
        visibility: hidden;
    }
}

@keyframes slide-left-out {
    from {
        margin-left: 0%;
        width: 100%;
        visibility: visible;
    }

    to {
        margin-left: 100%;
        width: 100%;
        visibility: hidden;
    }
}

.fade-in-image {
    animation: fadeIn 1s;
    visibility: visible;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out-image {
    animation: fadeOut 1s;
    visibility: hidden;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}